<% layout('/layouts/boilerplate') %>
<body>
    <style>

        /* Reset Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
}

/* Body & Background */
body {
    background-color: #f4f4f4;
    color: #333;
}

    </style>

    <div id="filters">
        <div class="filter">
            <div><i class="fa-solid fa-fire"></i></div>
            <p>Trending</p>
        </div>
        <div class="filter">
            <div><i class="fa-solid fa-bed"></i></div>
            <p>Rooms</p>
        </div>
        <div class="filter">
            <div><i class="fa-solid fa-mountain-city"></i></div>
            <p>Iconic Cities</p>
        </div>
        <div class="filter">
            <div><i class="fa-solid fa-mountain"></i></div>
            <p>Mountains</p>
        </div>
        <div class="filter">
            <div><i class="fa-brands fa-fort-awesome"></i></div>
            <p>Castles</p>
        </div>
        <div class="filter">
            <div><i class="fa-solid fa-person-swimming"></i></div>
            <p>Amazing Pools</p>
        </div>
        <div class="filter">
            <div><i class="fa-solid fa-tents"></i></div>
            <p>Camping</p>
        </div>
        <div class="filter">
            <div><i class="fa-solid fa-cow"></i></div>
            <p>Farms</p>
        </div>
        <div class="filter">
            <div><i class="fa-solid fa-snowflake"></i></div>
            <p>Arctic</p>
        </div>
        <div class="filter">
            <div><i class="fa-solid fa-igloo"></i></div>
            <p>Domes</p>
        </div>
        <div class="filter">
            <div><i class="fa-solid fa-ship"></i></div>
            <p>Boats</p>
        </div>

        <div class="tax-toggle">
            <div class="form-check-reverse form-switch">
                <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault">
                <label class="form-check-label" for="flexSwitchCheckDefault">Display total before taxes</label>
            </div>
        </div>
    </div>
    <div class="listings-container">
        <div class="listing-cards">
            <% for (let listing of allListings) { %>
                <div class="listing-card">
                    <img src="<%= listing.image.url %>" class="card-img-top" loading="lazy" alt="listing_image" style="height: 20rem"/>
                    <h2 class="hotel-name"><%= listing.title %></h2>
                    <p class="hotel-location"><%= `${listing.location},${listing.country}` %></p>
                    <p class="hotel-price">&#8377 <%= listing.price.toLocaleString("en-IN")%> per night <i class="tax-info"> &nbsp; &nbsp;+18% GST</i></p>
                    <a href="/listings/<%= listing._id %>" class="view-details-btn">View Details</a>
                </div>  
             <% } %>    
        </div>    
    </div>
</body>

<script>
    let taxSwitch = document.getElementById("flexSwitchCheckDefault")
    taxSwitch.addEventListener("click", ()=> {
        let taxInfo = document.getElementsByClassName("tax-info")
        for(info of taxInfo) {
            if(info.style.display != "inline") {
                info.style.display = "inline"
            } else {
                info.style.display = "none"
            }
        }
    })
</script>



